node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

moralis-web-app/frontend/node_modules/.cache/babel-loader/c3faaa19de3f523442c4c5d34742bd414c32e3cb919124848069c2af7ed018c3.json
